{% load helpers %}

<ul class="rack_legend">
    {% for u in rack.units %}
        <li>{{ u }}</li>
    {% endfor %}
</ul>

<div class="rack_frame">

    <!-- Render rear view of devices on far face -->
    <ul class="rack rack_far_face">
        {% for u in secondary_face %}
            {% if u.device %}
                <li class="occupied h{{ u.device.device_type.u_height }}u{% if u.device.device_type.is_full_depth %} blocked{% endif %}"></li>
            {% else %}
                <li></li>
            {% endif %}
        {% endfor %}
    </ul>

    <!-- Render front view of devices on near face -->
    <ul class="rack rack_near_face">
        {% for u in primary_face %}
            {% if u.device %}
                {% if u.device.devicebay_count %}

                    {% for i,j in u.device.get_child_pairs %}
                        <li class="occupied h1u" >
                        {% ifequal 1 face_id %}
                          <div style="width: 50%; float: left; border-right: 1px solid #474747;">
                          {% if i.installed_device %}
                          <a href="{% url 'dcim:device' pk=i.installed_device.pk %}" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true"
                             {% ifequal 1 face_id %} style="background-color: #{{ i.installed_device.device_role.color }}"{% endifequal %}
                             data-content="{{ i.installed_device.device_role }}<br />{{ i.installed_device.device_type.full_name }} ({{ i.installed_device.device_type.u_height }}U){% if i.installed_device.asset_tag %}<br />{{ i.installed_device.asset_tag }}{% endif %}">
                             {{ i.installed_device.name|default:i.installed_device.device_role }}
                          </a>
                          {% else %}
                          <a style="color:red" href="{% url 'dcim:device' pk=i.device.pk %}">EMPTY {{ i.name }}</a>)
                          {% endif %}
                          </div>
                          <div style="width: 50%; float: left;">
                          {% if j.installed_device %}
                          <a href="{% url 'dcim:device' pk=j.installed_device.pk %}" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true"
                             {% ifequal 1 face_id %} style="background-color: #{{ j.installed_device.device_role.color }}"{% endifequal %}
                             data-content="{{ j.installed_device.device_role }}<br />{{ j.installed_device.device_type.full_name }} ({{ j.installed_device.device_type.u_height }}U){% if j.installed_device.asset_tag %}<br />{{ j.installed_device.asset_tag }}{% endif %}">
                             {{ j.installed_device.name|default:j.installed_device.device_role }}
                          </a>
                          {% else %}
                          <a style="color:red" href="{% url 'dcim:device' pk=j.device.pk %}">EMPTY {{ j.name }}</a>)
                          {% endif %}
                          </div>
                        {% else %}
                          <span style="width: 50%; float: left; border-right: 1px solid #474747;">
                          {% if i.installed_device %}
                          {{ i.installed_device.name|default:i.installed_device.device_role }}
                          {% else %}
                          EMPTY
                          {% endif %}
                          </span>
                          <span style="width: 50%; float: left">
                          {% if j.installed_device %}
                          {{ j.installed_device.name|default:j.installed_device.device_role }}
                          {% else %}
                          EMPTY
                          {% endif %}
                          </span>
                        {% endifequal %}
                        </li>
                    {% endfor %}

                {% else %}
                <li class="occupied h{{ u.device.device_type.u_height }}u"{% ifequal u.device.face face_id %} style="background-color: #{{ u.device.device_role.color }}"{% endifequal %}>
                    {% ifequal u.device.face face_id %}
                        <a href="{% url 'dcim:device' pk=u.device.pk %}" style="color: {{ u.device.device_role.color|fgcolor }}" data-toggle="popover" data-trigger="hover" data-container="body" data-html="true"
                           data-content="{{ u.device.device_role }}<br />{{ u.device.device_type.display_name }} ({{ u.device.device_type.u_height }}U){% if u.device.asset_tag %}<br />{{ u.device.asset_tag }}{% endif %}{% if u.device.serial %}<br />{{ u.device.serial }}{% endif %}">
                            {{ u.device }}
                            {% if u.device.devicebay_count %}
                                ({{ u.device.get_children.count }}/{{ u.device.devicebay_count }})
                            {% endif %}
                        </a>
                    {% else %}
                        <span>{{ u.device }}</span>
                    {% endifequal %}
                </li>
                {% endif %}
            {% else %}
                <li class="available{% if u.id in reserved_units.keys %} reserved{% endif %}">
                    {% if perms.dcim.add_device %}
                        <a href="{% url 'dcim:device_add' %}?site={{ rack.site.pk }}&rack={{ rack.pk }}&face={{ face_id }}&position={{ u.id }}" class="add_device"
                       {% if u.id in reserved_units.keys %}{% with reserved_units|getkey:u.id as resv %}
                           data-toggle="popover" data-trigger="hover" data-container="body" data-html="true"
                           data-content="{{ resv.description }}<br/><small>{{ resv.user }} &middot; {{ resv.created }}</small>"
                       {% endwith %}{% endif %}
                        >add device</a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>
